<div class="container">
    <button class="btn-sm btn-open-default" [routerLink]="['/home']">
        <i class="uil uil-arrow-left"></i>
    </button>
    <h2>Cadastro</h2>
</div>

<div class="container-column">
    <div class="card btn btn-open-default">
        <form>
            <!-- <label for="name">Nome completo</label> -->
            <input type="text" class="btn btn-open-default" placeholder="Nome completo">
            <!-- <label for="phone">Celular</label> -->
            <input type="text" class="btn btn-open-default" placeholder="Celular">
            <input type="text" class="btn btn-open-default" placeholder="CPF">
            <input type="text" class="btn btn-open-default" placeholder="Chave pix">
            <button class="btn-sm btn-open-primary">Salvar</button>
        </form>
    </div>

    <div class="card btn btn-closed-default">

        <span>Código de acesso</span>
        <h2 class="btn btn-open-default">
            UDHA-232S-4FSD-23AS
            <i class="uil uil-redo"></i>
        </h2>
        <span>Senha</span>
        <h2 class="btn btn-open-default">
            123456
            <i class="uil uil-unlock"></i>
        </h2>
    </div>
</div>