<div class="container">
    <button class="btn-sm btn-open-default" [routerLink]="['/employee']">
        <i class="uil uil-arrow-left"></i>
    </button>
    <h2>Cadastro</h2>
</div>

<div class="container-column">
    <form [formGroup]="form" (ngSubmit)="validateForm()">
        <div class="card btn btn-open-default">
            <input type="text" class="btn btn-open-default" placeholder="Nome completo" formControlName="name">
            <input type="text" class="btn btn-open-default" placeholder="Celular" formControlName="phone">
            <input type="text" class="btn btn-open-default" placeholder="CPF" formControlName="cpf">
            <input type="text" class="btn btn-open-default" placeholder="Chave pix" formControlName="pix">

        </div>
        
        <div class="card btn btn-closed-default">
            
            <span>Código de acesso</span>
            <h2 class="btn btn-open-default">
                UDHA-232S-4FSD-23AS
                <i class="uil uil-redo"></i>
            </h2>
            <span>Senha</span>
            <input class="btn btn-open-default" type="password" formControlName="password">
            <button class="btn-sm btn-open-primary" type="submit" *ngIf="!loading">Salvar</button>
            <button class="btn-sm btn-open-primary" type="submit" *ngIf="loading" disabled>Processando</button>
        </div>
    </form>
</div>