<button class="btn-sm btn-open-default" (click)="navigate()">
    <i class="uil uil-arrow-left"></i>
</button>
<div class="card">
    <h2>Bem-vindo</h2>
    <input class="btn btn-open-default" type="text" placeholder="E-mail">
    <input class="btn btn-open-default" type="text" placeholder="Senha">
    <div class="buttons">
        <span>Lembrar</span>
        <button type="button" class="btn btn-open-default">Entrar</button>
    </div>
    <button type="button" class="btn btn-open-primary" (click)="createAccount()">Criar conta grátis</button>
</div>