<div class="container">
    <button class="btn-sm btn-open-default" [routerLink]="['/home']">
        <i class="uil uil-arrow-left"></i>
    </button>
    <h2>Funcionários</h2>
</div>
<div class="container-grid">
    <app-card-list></app-card-list>
    <app-card-list></app-card-list>
    <app-card-list></app-card-list>
    <app-card-list></app-card-list>
    <app-card-list></app-card-list>
    <app-card-list></app-card-list>
    <app-card-list></app-card-list>
    <app-card-list></app-card-list>
</div>