/* You can add global styles to this file, and also import other style files */

body 
    margin: 0
    position: relative
    font-family: 'Rajdhani', sans-serif
    background-color: #EEF3F3
    color: #5C5665


    .btn
        border-radius: 20px
        background: #EEF3F3
        font-size: 15px
        padding: 10px 20px
        border: none
        margin: 3.5%

    .btn-default
        box-shadow: 5px 5px 15px #cacfcf, -5px -5px 10px 5px #fff
        color:  #5C5665    


    .btn-primary
        box-shadow: 5px 5px 20px 7px rgba(142,84,233,70%), -5px -5px 5px 3px #fff
        color:  #FFF
        background: linear-gradient(90deg, #4776E6, #8E54E9)
        font-weight: bold



@mixin gradient()
    
